# Design Documents
Plan Design/Implementation_plan.md
Plan Design/STATUS.md
Plan Design/SKILLS.md

#Documentation
Documentation/GATEWAY-SERVICE.md
Documentation/AUTH-SERVICE.md
Documentation/MARKET-DATA-PRODUCER.md
Documentation/PORTFOLIO-SERVICE.md
Documentation/SCORING-SERVICE.md
Documentation/SCREENER-SERVICE.md

# Infrastructure & Secrets
.env
infrastructure/.env
*.env.template

# Build Artifacts
.gradle/
build/
out/
bin/
*.log

# IDEs
.idea/
*.iml
.vscode/
